Dear [$USER_NAME],<br/><br/>

Please verify your email address for <a href="[$PORTAL_URL]">[$PORTAL_URL]</a> at <a href="[$EMAIL_VERIFICATION_URL]">[$EMAIL_VERIFICATION_URL]</a>. <br/><br/>

Your verification code is [$VERIFICATION_KEY]<br/><br/>
Sincerely,<br/>
Buckzy 